# A secret used for signing session cookies
# https://flask.palletsprojects.com/en/2.3.x/config/#SECRET_KEY
SECRET_KEY=""

# MongoDB Atlas connection string
MONGODB_CONNECTION_URI=""

# Hookdeck Project API Key
# Hookdeck Dashboard -> Settings -> Secrets
HOOKDECK_PROJECT_API_KEY=""
HOOKDECK_WEBHOOK_SECRET=

# Replicate API Token
REPLICATE_API_TOKEN=""
# Replicate Dashboard -> Account Settings -> Webhooks -> Show signing key
REPLICATE_WEBHOOKS_SECRET

# Note: The following are auto-populated
# when you run create-hookdeck-connections.py

# Hookdeck Source inbound queue
HOOKDECK_REPLICATE_API_QUEUE_API_KEY=

# Hookdeck Source URLs
HOOKDECK_REPLICATE_API_QUEUE_URL=
AUDIO_WEBHOOK_URL=""
EMBEDDINGS_WEBHOOK_URL=""