{% extends 'layout.html' %}

{% block title %}Index a Thing{% endblock %}

{% block head %}
<style>
  form input {
    padding: 5px;
    width: 100%;
    min-width: 800px;
    max-width: 1200px;
    font-size: 1.2em;
    border-radius: 5px;
  }

  form button {
    margin: 1em 0;
    padding: 5px;
    width: 100%;
    max-width: 200px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
  }

  form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.5;
  }

  table {
    width: 100%;
    text-align: left;
  }

  td {
    padding: 5px;
  }

  td .status {
    text-align: center;
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 2px;
    font-size: 0.7em;
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('#submit_form');
    const submitButton = form.querySelector('#submit_form button');

    form.addEventListener('submit', function(event) {
      const url = form.querySelector('input').value;
      if (!url) {
        event.preventDefault();
        return;
      }

      submitButton.disabled = true;
      submitButton.innerText = 'Submitting...';
    });
  });
</script>
{% endblock %}

{% block content %}
<div>
  <form action="/process" method="post" id="submit_form">
    <input required type="text" name="url" placeholder="Enter the URL of a file to index">
    <button type="submit">Submit</button>
  </form>
</div>

<div>
  {% if indexes %}
    <h2>Indexes:</h2>
    <table>
      <thead>
        <tr>
          <th>Domain</th>
          <th>Path</th>
          <th>Content Type</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
    {% for index in indexes %}
    <tr>
      <td title="{{ index.url }}">{{ index.parsed_url.hostname }}</td>
      <td title="{{ index.parsed_url.path }}">...{{ index.parsed_url.last_part }}</td>
      <td>{{ index.content_type }}</td>
      <td><span class="status">{{ index.status }}</span></td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>No indexes</p>
  {% endif %}
</div>
</div>
{% endblock %}