{% extends 'layout.html' %}

{% block head %}
<style>
  td .status {
    text-align: center;
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 2px;
    font-size: 0.7em;
  }

  #examples {
    margin-top: 4em;
    padding: 0.5em;
    background-color: #ebebeb;
  }

  #examples ul {
    display: flex;
    text-align: left;
    list-style: none;
    padding: 0;
    justify-content: center;
  }

  #examples li {
    margin: 0 1em;
    cursor: pointer;
  }
  #examples li:hover {
    text-decoration: underline;
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('#submit_form');
    const submitButton = form.querySelector('#submit_form button');

    form.addEventListener('submit', function(event) {
      const url = form.querySelector('input').value;
      if (!url) {
        event.preventDefault();
        return;
      }

      submitButton.disabled = true;
      submitButton.innerText = 'Submitting...';
    });
  });

  const EXAMPLES = [
    {
      "name": "Bruce (mp3)",
      "url": "https://replicate.delivery/pbxt/KAX5G2BccyZabQssOPmBa9YnK6wkgstfXz3idL8CLKDXSkeB/bruce.mp3",
    },
    {
      "name": "Bria (mp3)",
      "url": "https://replicate.delivery/pbxt/KMZ4G6zMeSQRlcVp6CGZpBMSTbUT9M7fsZzBxTM0aYloh0Se/bria.mp3"
    },
    {
      "name": "Other 1 (wav)",
      "url": "https://replicate.delivery/pbxt/KASkhrd696JJqYQcdHq8hSXV6deWYmfxa1yRQFH0iC3xIwVG/2086-149220-0033.wav",
    },
    {
      "name": "Other 2 (wav)",
      "url": "https://replicate.delivery/mgxm/e5159b1b-508a-4be4-b892-e1eb47850bdc/OSR_uk_000_0050_8k.wav",
    }
  ]

  document.addEventListener('DOMContentLoaded', function() {
    const examples = document.querySelector('#examples ul');
    EXAMPLES.forEach(example => {
      const li = document.createElement('li');
      const a = document.createElement('span');
      // a.href = example.url;
      a.innerText = example.name;
      li.appendChild(a);
      examples.appendChild(li);

      a.addEventListener('click', function() {
        const input = document.querySelector('#submit_form input');
        input.value = example.url;
      });
    });
  });
</script>
{% endblock %}

{% block title %}Index a Thing{% endblock %}

{% block content %}
<section>
  <form action="/process" method="post" id="submit_form">
    <input required type="text" name="url" placeholder="Enter the URL of a file to index">
    <button type="submit">Submit</button>
  </form>
</section>

<section>
  {% if indexes %}
    <h2>Indexed Assets:</h2>
    <table>
      <thead>
        <tr>
          <th>Domain</th>
          <th>Path</th>
          <th>Content Type</th>
          <th>Content Length</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
    {% for index in indexes %}
    <tr data-url="{{ index.url }}">
      <td title="{{ index.url }}">{{ index.parsed_url.hostname }}</td>
      <td class="path" title="{{ index.parsed_url.path }}">
        <span>...{{ index.parsed_url.last_part }}</span>
        <a href="{{ index.url }}" target="_blank"><img src="/images/external-link.svg" alt="external link" width="16" height="16" /></a>
      </td>
      <td>{{ index.content_type }}</td>
      <td>{{ index.content_length }}</td>
      <td><span class="status">{{ index.status }}</span></td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>No indexes</p>
  {% endif %}
</section>

<section id="examples">
  <h3>Examples</h3>
  <ul></ul>
</section>
{% endblock %}