<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My HTML Page</title>
  <style>
    body, html {
      height: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: start;
    }
    .container {
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container">
    <image src="/images/att.png" alt="att logo" width="630" />
    <h1>{% block title %}{% endblock %}</h1>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </div>
</body>
</html>